* {
    margin: 0;
    padding: 0;
}

.background {
    height: 100%;
    width: 100%;
    background-color: LightSeaGreen;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#first_page {
    background-color: DodgerBlue;
    justify-content: center;
}

.sonic_logo {
    height: 70%;
    width: 100%;
    background-image: url("../img/sonic-intro.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.button {
    background-color: IndianRed;
    color: white;
    padding: 0.4vw 30vw;
    border-radius: 2px;
    text-decoration: none;
    font-size: 2em;
    box-shadow: 2px 2px 10px black;
}

.button:hover {
    box-shadow: 5px 5px 20px black;
    cursor: pointer;
}

#header_select {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
}

#header_select h1 {
    margin-left: 2vw;
    color: white;
    font-size: 3.5vw;
    font-family: monospace;
}

.div_images {
    background-color: DarkCyan;
    height: 75%;
    width: 70%;
    box-shadow: 2px 2px 10px black;
}

#sonic_images {
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#sonic_images a {
    height: 90%;
    width: 30%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    box-shadow: 2px 2px 10px black;
}

#sonic_images a:hover {
    box-shadow: 4px 4px 15px black;
}

#first_sonic {
    background-image: url("../img/sonic1.png");
    background-color: #0567B8;
}

#second_sonic {
    background-image: url("../img/sonic2.png");
    background-color: #0AB5C2;
}

#third_sonic {
    background-image: url("../img/sonic3.png");
    background-color: #08A166;
}

.div_images div {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#footer_select {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer_select a {
    text-decoration: none;
    color: white;
    font-size: 1.25vw;
}
